.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info div {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.info span {
  margin-left: 0.5rem;
}
